<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("components/head", {title: "Encuesta - Consultécnica" })%>
        <title>hackaton</title>
</head>

<body>
    <%- include('components/header') %>
        <main class="main">
            <form action="/encuestas" method="POST">
                <% for (let i=0; i < preguntas.length; i++) { %>
                    <li>
                        <p>
                            <%= preguntas[i].titulo%>
                        </p>
                        <% for (let j=0; j < preguntas[i].opciones.length; j++) {%>
                            <input id="<%= preguntas[i].id%><%= preguntas[i].opciones[j]%>" type="radio"
                                value="<%= preguntas[i].opciones[j]%>" name="<%= preguntas[i].id%>">
                            <label for="<%= preguntas[i].id%><%= preguntas[i].opciones[j]%>">
                                <%= preguntas[i].opciones[j]%>
                            </label>
                            <%}%>
                    </li>
                    <br>
                    <%}%>
                        <button type="submit" class="btn-enviar">Enviar</button>
            </form>
        </main>

</body>

</html>