<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("components/head", {title: "Estadísticas - Consultécnica" })%>
        <link rel="stylesheet" href="css/results.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>

    <body>
        <%- include("components/header")%>

        <main class="main">
        <h1 class="main-title">Infraestructura</h1>

        <div class="data-container">
            <% for (const question of data) {%>
                <div class="data-question"><%= question.question%></div>

                <div class="chart-container">
                    <canvas id="<%= question.id%>"></canvas>
                </div>

                <script>
                new Chart(
                    document.getElementById("<%= question.id%>").getContext("2d"),
                    {
                    type: "pie",
                    data: {
                        labels: JSON.parse(`<%- question.labels%>`),
                        datasets: [
                        {
                            data: JSON.parse(`[<%- question.values%>]`),
                            backgroundColor:
                            JSON.parse(`<%- question.options.length%>`) > 2
                                ? [
                                    "#751A18",
                                    "#C42E1C",
                                    "#D4B04A",
                                    "#70A34E",
                                    "#446441",
                                ]
                                : ["#C42E1C", "#70A34E"],
                        },
                        ],
                    },
                    }
                );
                </script>
            <%}%>
        </main>
    </body>
</html>
